a{
  text-decoration: none;
  color: #2c3e50;
}

.content img{
  width: 100%;
  max-width: 700px;
}

.content  {
  padding: 5% 30%;
  font-size: 20px;
  font-family: "Georgia","Cambria","Times New Roman","Times",serif;
  font-size: 20px;
  line-height: 1.8;
}

p {
  margin: 0px 0px 40px 0px;
}

h1  {
  margin-bottom: 50px;
  font-size: 50px;
  font-weight: 800;
}

#Umberto {
  background-color:black;
  color:white;
  text-decoration:none;
  padding:4px 6px;
  font-family:-apple-system, BlinkMacSystemFont, &quot;San Francisco&quot;, &quot;Helvetica Neue&quot;, Helvetica, Ubuntu, Roboto, Noto, &quot;Segoe UI&quot;, Arial, sans-serif;
  font-size:12px;
  font-weight:bold;
  line-height:1.2;
  display:inline-block;
  border-radius:3px;
  margin-bottom: 20px;

}


@media only screen and (max-width: 500px) {
  .content {
      padding: 10px 10px;
  }



}
